body {
 
  color: black;
}

nav{
  margin: 10px auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

nav a { /* { //ถึงจะใช้เป็น Link แต่เวลาเรียกใช้แต่ง css ก็จะใช้ชื่อ a เหมือนเดิมในตรงนี้ */
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 18px;
  padding: 10px;
}

nav a:hover {  /* ตัวนี้เอาเม้าส์ไปวางแล้วมันจะเปลี่ยนเป็นสีตามทีตั้งตรง navbar   */
  color: orange;
}

nav .logo{   /* อันนี้ในกรณีอาจมีการตั้ง class logo ซ้ำเลยระบุ nav ไว้ด้วยว่าจะตั้งแค่ตรงนี้ */ 
    margin-right: auto;
    padding-left: 10px;
}

footer{
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  color: #777;
  border-top: 1px solid #eaeaea;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;



 
 
 
 
}

a{
  text-decoration: none;
}

